numpy
prettytable
git+https://github.com/NSLS-II/ophyd
git+https://github.com/slaclab/pydm
git+https://github.com/slaclab/happi
git+https://github.com/slaclab/pcds-devices
git+https://github.com/lcls-pcds/QDarkStyleSheet
